.loginContainer {
  background: #b5c0ad;
  height: 100vh;
  /* min-height: 720px;
  min-width: 320px; */
}
.avtarImage {
  align-items: center;
  width: 30% !important;
  height: 40%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

.rowClass {
  height: 100vh;
}
.loginCard {
  width: 100%;
  height: 60%;
  margin: 8% auto;
  display: flex;
  justify-content: center;
}
.footerCard {
  display: flex;
  justify-content: center;
}
.headerCard {
  font-size: 30px;
  font-weight: 600;
}
